.footer {
  margin-top: 3em;
  border: 0;
  border-image: var(--gradient);
  border-top-width: 5px;
  border-style: solid;
  border-image-slice: 1;
  padding: 1em 2em;
  text-align: center;
}

.footer svg {
  height: 2em;
}

.footer a {
  color: var(--primary);
}
.footer a:hover {
  color: var(--accent);
}
.footer a:not(:last-child) {
  margin-right: 1em;
}
